<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Admin Profile</title>
<link rel="icon" style="width:50px;" type="image/x-icon" href="assets/ebLogo.jpg">
<link rel="stylesheet" href="/css/title.css">
<link rel="stylesheet" href="/css/table.css">
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button {
	color: brown;
	background-color: white;
	opacity: 0.9;
	padding: 2px;
}

input[type="submit"] {
	color: brown;
	background-color: white;
	opacity: 0.9;
	padding: 2px;
}

h2 {
	margin-top: 30px;
	text-align: center;
}
</style>
</head>
<body>

	<header>
		<nav class="navbar-nav">
			<img class="logo" th:src="@{/assets/ebLogo.jpg}" alt="Logo">
			<p>EB FUSION EB SERVICES AND ITS PAYMENT</p>
		</nav>
		<nav class="navbar">
			<ul>
				<li><a th:href="@{/AdminWelcomePage}">Home</a></li>
				<li><a th:href="@{/AdminAbout}">About Us</a></li>
				<li><a th:href="@{/Contact}">Contact Us</a></li>
				<li><a th:href="@{/listOfUsers}">Registered Customer</a></li>
				<li class="dropdown"><a>Bill</a>
					<div class="dropdown-content">
						<a th:href="@{/adminViewPaidStatus}">Paid Bill</a> <a
							th:href="@{/readAllBill}">UnPaid Bill</a>
					</div></li>
				<li class="dropdown"><a>Connection</a>
					<div class="dropdown-content">
						<a th:href="@{/readAllConnection}">New Connection Applied
							Customer</a> <a th:href="@{/allApprovedConnection}">Approved
							Customer Connection</a>
					</div></li>
				<li class="dropdown"><a>Complaint</a>
					<div class="dropdown-content">
						<a th:href="@{/adminViewComplaint}">Pending Complaint</a> <a
							th:href="@{/rectifiedComplaint}">Rectified Complaint</a>
					</div></li>
				<li><a class="active" th:href="@{/AdminProfile}">Profile</a></li>
				<li><a style="margin-left: 140px;" th:href="@{/logOut}">LogOut</a></li>
			</ul>
		</nav>
	</header>

	<h2>Admin Profile</h2>


	<table border="1">
		<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Email Id</th>
				<th scope="col">Phone Number</th>
				<th scope="col">Aadhaar Number</th>
				<th scope="col">Update</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="user : ${list}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.emailId}"></td>
				<td th:text="${user.phoneNumber}"></td>
				<td th:text="${user.aadhaarNumber}"></td>
				<td>
					<form th:action="@{/UpdateAdminProfile}" method="get">
						<input type="hidden" name="name" th:value="${user.name}">
						<input type="hidden" name="emailId" th:value="${user.emailId}">
						<input type="hidden" name="phoneNumber" th:value="${user.phoneNumber}"> 
						<input type="hidden" name="aadhaarNumber" th:value="${user.aadhaarNumber}">
						<button type="submit">Update</button>
					</form>
				</td>
				<td>
					<form th:action="@{/deleteAdmin}" method="get">
						<input type="hidden" name="emailId" th:value="${user.emailId}">
						<button type="submit">Delete</button>
					</form>
				</td>
			</tr>
			<tr th:if="${list.size() == 0}">
				<td colspan="6">No records found.</td>
			</tr>
		</tbody>
	</table>


</body>
</html>