<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="icon" type="image/x-icon" href="assets/ebLogo.jpg">
<link rel="stylesheet" href="/css/title.css">
<link rel="stylesheet" href="/css/table.css">
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
       
h2 {
	margin-top: 30px;
	text-align: center;
}

h4 {
	margin-top: 31px;
	text-align: center;
}

</style>

</head>
<body>
      
     <header>
        <nav class="navbar-nav">
            <img class="logo" src="assets/ebLogo.jpg" alt="Logo">
            <p>EB FUSION EB SERVICES AND ITS PAYMENT</p>
        </nav>
        <nav class="navbar">
            <ul> 
                <li><a th:href="@{/AdminWelcomePage}">Home</a></li>
                <li><a th:href="@{/AdminAbout}">About Us</a></li>
                <li><a th:href="@{/Contact}">Contact Us</a></li>
                <li><a th:href="@{/listOfUsers}">Registered Customer</a></li>
                <li>
                    <div class="dropdown">
                        <a>Bill</a>
                        <div class="dropdown-content">
                            <a th:href="@{/adminViewPaidStatus}">Paid Bill</a>
                            <a th:href="@{/readAllBill}">UnPaid Bill</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a>Connection</a>
                        <div class="dropdown-content">
                            <a th:href="@{/readAllConnection}">New Connection Applied Customer</a>
                            <a th:href="@{/allApprovedConnection}">Approved Customer Connection</a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a>Complaint</a>
                        <div class="dropdown-content">
                            <a th:href="@{/adminViewComplaint}">Pending Complaint</a>
                            <a th:href="@{/rectifiedComplaint}">Rectified Complaint</a>
                        </div>
                    </div>
                </li>
                <li><a th:href="@{/AdminProfile}">Profile</a></li>
                <li><a style="margin-left: 140px;" th:href="@{/logOut}">LogOut</a></li>
            </ul>
        </nav>
    </header>

    <h2>Customers applied for new Connection</h2>

    <form action="/searchAppliedConnection" method="get"> 
        <h4>Search: <input type="search" placeholder="Enter your Search EmailId" name="emailId" id="emailId" required></h4>
    </form><br>  
        <table>
            <thead>
                <tr>
                    <th scope="col">Email Id</th>
                    <th scope="col">Service Number</th>
                    <th scope="col">Service Type</th>
                    <th scope="col">Address</th>
                    <th scope="col">District</th>
                    <th scope="col">State</th>
                    <th scope="col">Approve</th>
                    <th scope="col">Address Proof</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="obj : ${list}">
                    <td th:text="${obj.emailId}"></td>
                    <td th:text="${obj.serviceNumber}"></td>
                    <td th:text="${obj.serviceType}"></td>
                    <td th:text="${obj.address}"></td>
                    <td th:text="${obj.district}"></td>
                    <td th:text="${obj.state}"></td>
                    <td>
                    <form action="/customerConnection" method="get">                       
                            <select id="connectionStatus" name="ConnectionStatus" required>
                                <option value="" disabled selected>Select your Status</option>
                                <option value="Approved">Approved</option>
                               <!--  <option value="Rejected">Rejected</option>                 -->
                            </select>
                            <input type="hidden" name="serviceNumber" th:value="${obj.serviceNumber}">                     
                            <button onclick="validateForm()" type="submit">Submit</button>
                      </form>
                    </td>
                  <td>
				    <form th:action="@{/ImageAddress}">
				    <input type="hidden" id="emailId" name="emailId" th:value="${obj.emailId}">
				    <input type="hidden" id="serviceNumber" name="serviceNumber" th:value="${obj.serviceNumber}">
				    <button>View</button>
				    </form>
				</td>
                </tr>
                <tr th:if="${#lists.isEmpty(list)}">
                    <td colspan="8">No records found.</td>
                </tr>
            </tbody>
        </table>
<script type="text/javascript">
function validateForm() {
	var connectionStatus = document.getElementById("connectionStatus").value;

	if (connectionStatus == "") {
		alert("Please select a connection status");
		return false;
	}

	return true;
}


</script>
</body>
</html>