<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="xml:land">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="icon" type="image/x-icon" href="assets/ebLogo.jpg">
<script src="/javascript/complaintForm.js"></script>
<style>
form {
	background-color: peachpuff;
	width: 500px;
	margin: auto;
	margin-top: 30px;
}

fieldset {
	border: white;
	padding: 10px;
	margin-bottom: 10px;
}

h2 {
	text-align: center;
}

input[type="text"], input[type="number"], input[type="email"], select,
	button {
	width: 100%;
	padding: 8px;
	margin: 5px;
	box-sizing: border-box;
}

button {
	background-color: brown;
	color: white;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: green;
}
</style>
</head>
<body>
<form action="/applyComplaint" method="get">
        <fieldset>
            <h2>Complaint Form</h2>
            <div>
                Email Id: <input type="email" id="emailId" name="emailId" th:value="${param.emailId}" readonly>
            </div>
            <br>
            <div>
                Service Number: <input type="number" id="serviceNumber" name="serviceNumber" th:value="${param.serviceNumber}" readonly>
            </div>
            <br>
            <div>
                Description: <input type="text" id="description" name="description" placeholder="Enter your description" th:required="required">
            </div>
            <br>
            <div>
                Complaint Status:
                <select id="complaintStatus" name="complaintStatus" th:required="required">
                    <option value="" disabled selected>Select your complaint status</option>
                    <option value="applied">Applied</option>
                </select>
            </div>
            <br>
            <button type="submit" onclick="validateForm()">Submit</button>
        </fieldset>
    </form>
</body>
</html>
