<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="xml:land">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="icon" type="image/x-icon" href="assets/ebLogo.jpg">
<link rel="stylesheet" href="/css/title.css">
<link rel="stylesheet" href="/css/table.css">
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	margin-top: 30px;
	margin-left: 450px;
}
</style>

</head>
<body>

	<header>
		<nav class="navbar-nav" aria-label="Site Header Navigation">
			<img class="logo" src="assets/ebLogo.jpg" alt="Logo">
			<p>EB FUSION EB SERVICES AND ITS PAYMENT</p>
		</nav>
		<nav class="navbar" aria-label="Main Navigation Menu">
			<ul>
				<li><a th:href="@{/UserWelcomePage}">Home</a></li>
				<li><a th:href="@{/About}">About Us</a></li>
				<li><a th:href="@{/contact}">Contact Us</a></li>

				<li class="dropdown"><a>Bill</a>
					<div class="dropdown-content">
						<a th:href="@{/readPaidBill}">Paid Bill</a> <a
							th:href="@{/readParticularBill}">UnPaid Bill</a>
					</div></li>

				<li class="dropdown"><a class=active>Connection</a>
					<div class="dropdown-content">
						<a th:href="@{/ApplyNewConnection}">Apply For New Connection</a> <a
							th:href="@{/readAppliedConnection}">New Connection Request
							Pending</a> <a th:href="@{/approvedConnection}">Authorized
							Connection</a>
					</div></li>

				<li class="dropdown"><a>Complaint</a>
					<div class="dropdown-content">
						<a th:href="@{/viewPendingComplaint}">Pending Complaint</a> <a
							th:href="@{/viewRectifiedComplaint}">Rectified Complaint</a>
					</div></li>

				<li><a th:href="@{/viewPaidStatus}">Payment History</a></li>
				<li><a th:href="@{/UserProfile}">Profile</a></li>
				<li><a style="margin-left: 150px;" th:href="@{/logOut}">LogOut</a></li>
			</ul>
		</nav>
	</header>

	<h2>Approved Customer Connection</h2>

	<table border="1">
		<thead>
			<tr>
				<th scope="col">Email Id</th>
				<th scope="col">Service Number</th>
				<th scope="col">Service Type</th>
				<th scope="col">Address</th>
				<th scope="col">District</th>
				<th scope="col">State</th>
				<th scope="col">Address Proof</th>
				<th scope="col">Complaint Form</th>
			</tr>
		</thead>
		<tbody>

			<tr th:each="obj : ${list}">
				<td th:text="${obj.emailId}"></td>
				<td th:text="${obj.serviceNumber}"></td>
				<td th:text="${obj.serviceType}"></td>
				<td th:text="${obj.address}"></td>
				<td th:text="${obj.district}"></td>
				<td th:text="${obj.state}"></td>
				<!-- <td><img class="table-image"
					th:src="'data:image/jpeg;base64,' + ${obj.customerAddressProof}"
					alt="Address Proof Image"> <br> <a
					href="assets/addressProof.jpg"><button>View</button></a>
				</td> -->
				
				<td>
				    <form th:action="@{/ImageAddress}">
				    <input type="hidden" id="emailId" name="emailId" th:value="${obj.emailId}">
				    <input type="hidden" id="serviceNumber" name="serviceNumber" th:value="${obj.serviceNumber}">
				    <button>View</button>
				    </form>
				</td>
				<td>

					<form action="ComplaintForm">
						<input type="hidden" name="emailId" th:value="${obj.emailId}">
						<input type="hidden" name="serviceNumber"
							th:value="${obj.serviceNumber}"> <input type="submit"
							value="Complaint Form">
					</form>
				</td>
			</tr>

			<tr th:if="${#lists.isEmpty(list)}">
				<td colspan="8">No records found.</td>
			</tr>
		</tbody>
	</table>


</body>
</html>