<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="xml:land">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="icon" type="image/x-icon" href="assets/ebLogo.jpg">
<link rel="stylesheet" href="/css/title.css">
<link rel="stylesheet" href="/css/table.css">
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	margin-top: 30px;
	margin-left: 500px;
}

</style>

</head>
<body>
	<header>
    <nav class="navbar-nav">
        <img class="logo" src="assets/ebLogo.jpg" alt="Logo">
        <p>EB FUSION EB SERVICES AND ITS PAYMENT</p>
    </nav>
    <nav class="navbar">
        <ul>
            <li><a th:href="@{/UserWelcomePage}">Home</a></li>
            <li><a th:href="@{/About}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
            <li>
                <div class="dropdown">
                    <a class="active">Bill</a>
                    <div class="dropdown-content">
                        <a th:href="@{/readPaidBill}">Paid Bill</a>
                        <a th:href="@{/readParticularBill}">UnPaid Bill</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a>Connection</a>
                    <div class="dropdown-content">
                        <a th:href="@{/ApplyNewConnection}">Apply For New Connection</a>
                        <a th:href="@{/readAppliedConnection}">New Connection Request Pending</a>
                        <a th:href="@{/approvedConnection}">Authorized Connection</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown">
                    <a>Complaint</a>
                    <div class="dropdown-content">
                        <a th:href="@{/viewPendingComplaint}">Pending Complaint</a>
                        <a th:href="@{/viewRectifiedComplaint}">Rectified Complaint</a>
                    </div>
                </div>
            </li>
            <li><a th:href="@{/viewPaidStatus}">Payment History</a></li>
            <li><a th:href="@{/UserProfile}">Profile</a></li>
            <li><a style="margin-left: 170px;" th:href="@{/logOut}">LogOut</a></li>
        </ul>
    </nav>
</header>

<h2>Customer Bill Details</h2>

<table border="1">
    <thead>
    <tr>
       <!--  <th scope="col">Email Id</th> -->
        <th scope="col">Service Number</th>
        <th scope="col">Address</th>
        <th scope="col">Reading Units</th>
        <th scope="col">Bill Month</th>
        <!-- <th scope="col">Due Date</th> -->
        <th scope="col">Service Type</th>
        <th scope="col">Amount</th>
        <th scope="col">Bill Status</th>
    </tr>
    </thead>
    <tbody>
    
    <tr th:each="obj : ${list}">
        <!-- <td th:text="${obj.emailId}"></td> -->
        <td th:text="${obj.serviceNumber}"></td>
        <td th:text="${obj.address}"></td>
        <td th:text="${obj.readingUnits}"></td>
        <td th:text="${obj.readingTakenDate}"></td>
       <!--  <td th:text="${obj.dueDate}"></td> -->
        <td th:text="${obj.serviceType}"></td>
        <td th:text="${obj.amount}"></td>
        <td th:text="${obj.billStatus}"></td>
    </tr>
   
    <tr th:if="${#lists.isEmpty(list)}">
        <td colspan="9">No records found.</td>
    </tr>
    </tbody>
</table>

</body>
</html>