<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="icon" type="image/x-icon" href="assets/ebLogo.jpg">
<script src="/javascript/paymentForm.js"></script>
<style>

form {
  background-color:peachpuff;
  width:500px;
  margin:auto;
}

fieldset {
  border:white;
  padding:10px;
  margin-bottom:10px;
}
h2{
text-align:center;
}
input[type="text"],
input[type="date"],
input[type="number"],
button {
  width:95%;
  padding:8px;
  margin:5px;
  box-sizing:border-box; 
}

button {
  background-color:brown;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color:green;
}

</style>

</head>
<body>
 <form action="/payBill" method="post" onsubmit="return validate()">
        <h2>Payment Form</h2>
        <br>
        Email Id: <input style="width:95%;padding:8px;margin:5px;box-sizing:border-box;" type="email" name="emailId" th:value="${param.emailId}" readonly><br>
        <br>
        Service Number: <input type="number" id="serviceNumber" name="serviceNumber" th:value="${param.serviceNumber}" readonly><br>
        <br>
        Amount (Pay on or before due date): <input type="number" id="amount" name="amount" th:value="${param.amount}" readonly><br>
        <br>
        Account Number: <input type="number" id="accountNumber" name="accountNumber" pattern="^[0-9]{9,18}$" onkeyup="calculateTotalAmount()" required><br>
        <br>
        Due Date: <input style="width:95%;padding:8px;margin:5px;box-sizing:border-box;" id="dueDate" name="dueDate" th:value="${param.dueDate}" readonly><br>
        <br>
        Payment Date: <input style="width:95%;padding:8px;margin:5px;box-sizing:border-box;" id="paymentDate" name="paymentDate" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly><br>
        <br>
        Total Amount: <input type="number" id="totalAmount" name="totalAmount" readonly><br>
        <br>
        Penalty: <input type="number" id="payedAmount" name="payedAmount" readonly><br>
        <input type="hidden" name="readingTakenDate" th:value="${param.readingTakenDate}">
        <br>
        <button type="submit" onclick="validate()">Submit</button>
    </form>
	
</body>
</html>
