<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="xml:land">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="icon" type="image/x-icon" href="assets/ebLogo.jpg">
<link rel="stylesheet" href="/css/title.css">
<link rel="stylesheet" href="/css/table.css">
<style>
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h2 {
	margin-top: 30px;
	margin-left: 500px;
}
</style>
</head>
<body>

<header>
    <nav class="navbar-nav">
        <img class="logo" src="assets/ebLogo.jpg" alt="Logo">
        <p>EB FUSION EB SERVICES AND ITS PAYMENT</p>
    </nav>
    <nav class="navbar">
        <ul>
            <li><a th:href="@{/UserWelcomePage}">Home</a></li>
            <li><a th:href="@{/About}">About Us</a></li>
            <li><a th:href="@{/contact}">Contact Us</a></li>
           
            <li class="dropdown">
                <a class=active>Bill</a>
                <div class="dropdown-content">
                    <a th:href="@{/readPaidBill}">Paid Bill</a>
                    <a th:href="@{/readParticularBill}">UnPaid Bill</a>
                </div>
            </li>            
            <li class="dropdown">
                <a>Connection</a>
                <div class="dropdown-content">
                    <a th:href="@{/ApplyNewConnection}">Apply For New Connection</a>
                    <a th:href="@{/readAppliedConnection}">New Connection Request Pending</a>
                    <a th:href="@{/approvedConnection}">Authorized Connection</a>
                </div>
            </li>
            <li class="dropdown">
                <a>Complaint</a>
                <div class="dropdown-content">
                    <a th:href="@{/viewPendingComplaint}">Pending Complaint</a>
                    <a th:href="@{/viewRectifiedComplaint}">Rectified Complaint</a>
                </div>
            </li>            
            <li><a th:href="@{/viewPaidStatus}">Payment History</a></li>
            <li><a th:href="@{/UserProfile}">Profile</a></li>
            <li><a style="margin-left: 170px;" th:href="@{/logOut}">LogOut</a></li>
        </ul>
    </nav>
</header>

    <h2 style="margin-left: 450px;">Customer Bill Details</h2>
    <table border="1">
        <thead>
            <tr>
                <th scope="col">Email Id</th>
                <th scope="col">Service Number</th>
                <th scope="col">Address</th>
                <th scope="col">Reading Units</th>
                <th scope="col">Reading Taken Date</th>
                <th scope="col">Due Date</th>
                <th scope="col">Service Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Bill Status</th>
                <th scope="col">Pay</th>
            </tr>
        </thead>
        <tbody>
          
            <tr th:each="payment : ${list}">
                <td th:text="${payment.emailId}"></td>
                <td th:text="${payment.serviceNumber}"></td>
                <td th:text="${payment.address}"></td>
                <td th:text="${payment.readingUnits}"></td>
                <td th:text="${payment.readingTakenDate}"></td>
                <td th:text="${payment.dueDate}"></td>
                <td th:text="${payment.serviceType}"></td>
                <td th:text="${payment.amount}"></td>
                <td th:text="${payment.billStatus}"></td>
                <td>
                
                <form th:action="@{/PaymentForm}" method="get">	
						<input type="hidden" name="emailId" th:value="${payment.emailId}">
						<input type="hidden" name="serviceNumber" th:value="${payment.serviceNumber}">
						<input type="hidden" name="readingTakenDate" th:value="${payment.readingTakenDate}">
						<input type="hidden" name="amount" th:value="${payment.amount}">
						<input type="hidden" name="dueDate" th:value="${payment.dueDate}">
						<button type="submit">pay</button>
				</form>
				</td>
            </tr>           
            <tr th:if="${#lists.isEmpty(list)}">
                <td colspan="10">No records found.</td>
            </tr>
        </tbody>
    </table>

</body>
</html>